* {
    background-color: ivory;
    margin: 0%;
    padding: 0%;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px;
}

.quiz-pretext {
    text-align: center;
}

#score-input {
    text-align: center;
}

.button {
    width: 200px;
    border: 2px solid black;
    background-color: blue;
    color: white;
}



.hide {
    display: none;
}