* {
    background-color: ivory;
    margin: 0%;
    padding: 0%;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px;
}

.quiz-pretext {
    margin: 25px;
    text-align: center;
}

#test-description {
    padding: 25px;
}

#quiz {
    padding: 25px;
}
#question {
    padding: 10px;
}

#score-input {
    text-align: center;
    
}

#outer-box {
    margin: 0 100px;
    padding: 0 100px;
}

#inner-box {
    margin: 100px;
    padding: 100px; 
}

#highScoresDiv {
    text-align: center;
    border:12px solid sienna;
    padding:100px;
    margin:50px;
}

#highScoresList {
    text-align: center;
}

.button {
    width: 200px;
    border: 2px solid black;
    background-color: blue;
    color: white;
}



.hide {
    display: none;
}