* {
    background-color: ivory;
    margin: 0%;
    padding: 0%;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px;
}

.quiz-pretext {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width:100%;
}

#test-title {
    
}

.button {
    width: 10%;
    border: 2px solid black;
    background-color: blue;
    color: white;
}



.hide {
    display: none;
}